@import "tailwindcss";

:root {
  --color-sage: #6b8f71;
  --color-sage-soft: #b7b89f;
  --color-cream: #fdf6ec;
  --color-ink: #474747;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-cream: #f9f6f6;
    --color-ink: #474747;
  }
}

body {
  background: var(--color-cream);
  color: var(--color-ink);
  font-family: var(--font-inconsolata), sans-serif;
}

.bg-sage {
  background-color: var(--color-sage);
}

.bg-sage-soft {
  background-color: var(--color-sage-soft);
}

.bg-ink {
  background-color: var(--color-ink);
}

.text-cream {
  color: var(--color-cream);
}

.text-ink {
  color: var(--color-ink);
}

.btn-sage {
  background: var(--color-sage);
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  transition: all 0.3s;
}

.btn-sage:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.btn-ink {
  background: var(--color-ink);
  color: var(--color-cream);
  padding: 12px 24px;
  border-radius: 8px;
  transition: all 0.3s;
}

.btn-ink:hover {
  background: var(--color-sage);
  color: white;
}

.btn-tools {
  background: var(--color-sage);
  color: white;
  padding: 4px 12px;
  transition: all 0.3s;
}

.btn-tools:hover {
  background: var(--color-sage-soft);
  color: var(--color-ink);
  transform: scale(1.05);
}
